.defaultHero,
.roomsHero {
  min-height: calc(100vh - 66px);
  /* min-height: calc(40vh - 26px); */
  background: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
    center/cover no-repeat;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.roomsHero {
  background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  min-height: 60vh;
  margin: 0 0 20px;
}
/* End of Hero */